/*caption*/
/*slide-caption*/
.slider-revolution-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
}
.slider-revolution {
  position: relative;
  overflow: visible;
}
.slider-revolution img {
  max-width:none !important;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border: none;
}
.slider-revolution .no-slides-text {
  font-weight: bold;
  text-align: center;
  padding-top: 80px;
}
.slider-revolution > ul,
.slider-revolution-wrapper > ul,
.slider-revolution > ul > li,
.slider-revolution > ul > li:before {
  list-style: none !important;
  position: absolute;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: visible;
  overflow-y: visible;
  list-style-type: none !important;
  background-image: none;
  background-position: 0px 0px;
  text-indent: 0em;
  top: 0px;
  left: 0px;
}
.slider-revolution > ul > li,
.slider-revolution > ul > li:before {
  visibility: hidden;
}
.slider-revolution li.tp-revslider-slidesli {
  position: absolute;
}
.slider-revolution .tp-caption,
.slider-revolution .caption {
  visibility: hidden;
  white-space: nowrap;
  display: block;
}
.slider-revolution .tp-mask-wrap .tp-caption,
.slider-revolution .tp-mask-wrap *:last-child,
.wpb_text_column .slider-revolution .tp-mask-wrap .tp-caption,
.wpb_text_column .slider-revolution .tp-mask-wrap *:last-child {
  margin-bottom: 0;
}
.slider-revolution embed,
.slider-revolution iframe,
.slider-revolution object,
.slider-revolution audio,
.slider-revolution video {
  max-width: none !important;
  border: 0;
}

/*caption*/
.slider-revolution .slide-caption {
  padding: 20px 30px;
  background: rgba(255,255,255,0.8);
  color: #252525;
}
.slider-revolution .slide-caption h1 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.slider-revolution .slide-caption a {
  white-space: normal;
}
.slider-revolution .slide-info {
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}
.slider-revolution .slide-info-item {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 5px;
  font-size: 12px;
}
.slider-revolution .slide-info-item i {
  margin-right: 5px;
}
@media (min-width: 768px) {
  .slider-revolution .slide-caption {
    width: 450px;
  }
  .slider-revolution .slide-caption h1 {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .slider-revolution .slide-caption {
    width: 300px;
  }
  .slider-revolution .slide-caption h1 {
    font-size: 28px;
  }
  .slider-revolution .slide-info {
    display: none;
  }
}
@media (max-width: 480px) {
  .slider-revolution .slide-caption {
    font-size: 28px;
    padding: 15px;
  }
}

/*arrows*/
.tparrows {
  width: 40px;
  height: 40px;
  text-align: center;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background-color: #fff;
}
.tp-mouseover .tparrows:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tparrows:before {
  font-size: 26px;
  line-height: 38px;
  font-family: "FontAwesome";
  font-size: 26px;
  display: inline-block;
  color: inherit;
}
.tparrows:hover:before {
  color: #fff;
}
.tparrows.tp-leftarrow:before {
  content: '\f104';
}
.tparrows.tp-rightarrow:before {
  content: '\f105';
}

/*bullets*/
.tp-bullet {
  -webkit-transition: background ease-in-out 0.2s;
  -o-transition: background ease-in-out 0.2s;
  transition: background ease-in-out 0.2s;
  background: rgba(255,255,255,0.8);
  height: 11px;
  width: 11px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tp-bullet:hover {
  background-color: rgba(0, 0, 0, 0.7)
}
.tp-bullet.selected {
  background-color: #000;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 480px) {
  .tparrows {
    width: 40px;
    height: 40px;
  }
  .tparrows:before {
    font-size: 14px;
    line-height: 40px;
  }
  .tp-bullets:before {
    width: 120%;
    height: 40px;
    margin-left: -60%;
  }
}

/* Video player reset border */
.slider-revolution embed,
.slider-revolution iframe,
.slider-revolution video {
  border: 0;
}

/* Video thumbs z-index fix */
.field--name-field-mt-video-gallery-slides .tp-thumbs {
  z-index: 480;
}

/* Thumbnails styling */
.field--name-field-mt-video-gallery-slides .erinyen .tp-thumb-title {
  font-family: inherit;
}
.field--name-field-mt-video-gallery-slides .erinyen .tp-thumb.selected .tp-thumb-over,
.field--name-field-mt-video-gallery-slides .erinyen .tp-thumb:hover .tp-thumb-over {
  background: rgba(0,0,0,0.65);
}
.field--name-field-mt-video-gallery-slides .erinyen .tp-thumb.selected .tp-thumb-more,
.field--name-field-mt-video-gallery-slides .erinyen .tp-thumb.selected .tp-thumb-title,
.field--name-field-mt-video-gallery-slides .erinyen .tp-thumb:hover .tp-thumb-title {
  color: #fff;
}