header.header-v2 {
  background: none;
}

.topbar {
  background-color: #1d2124;
  padding: 15px 0;
}

.topbar-content .hour-block p {
  letter-spacing: 0.3px;
  color: #d5a738;
  margin-bottom: 0;
}

.topbar-content .hour-block p span {
  color: #fff;
}

.topbar-content .social-block > ul li a {
  color: #d5a738;
}

.topbar i {
  color: #d5a738;
  font-size: 14px;
}

.main-menu .area-main-menu .area-inner .block{
  background-color: #972E3D;
  border: none;
  border-radius: 0;
  min-height: 1px;
  margin-bottom: 0;
  position: relative;
}

.logo-block .cnt-detail {
  display: inline-block;
  text-align: left;
  position: relative;
  padding-left: 60px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 50px;
  vertical-align: bottom;
}
.logo-block .cnt-detail:last-child{
  margin-right: 0;
}

.logo-block .cnt-detail i {
  width: 50px;
  height: 50px;
  background-color: #972E3D;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
}

.icon {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-block {
  padding-top: 29px;
  padding-bottom: 29px;
}

.logo-block .cnt-content {
  text-align: right;
}

header .site-branding-logo {
  padding: 0px 0 16px;
}

header .area-main-menu .gva-search-region {
  right: 15px;
}

@media (min-width: 992px) {
  .navigation .gva_menu > li > a:hover, .navigation .gva_menu > li > a:after, .navigation .gva_menu > li > a:active {
    color: #D5A738;
  }
}
@media (min-width: 991px) and (min-width: 992px) {
  .navigation .gva_menu > li:hover > a {
    color: #D5A738;
  }
}

@media (min-width: 992px) {
  .navigation .gva_menu > li > a:hover, .navigation .gva_menu > li > a:after, .navigation .gva_menu > li > a:active {
    color: #D5A738;
  }
}

@media (min-width: 992px) {
  .navigation .gva_menu > li > a:after {
    border-left-color: #D5A738;
  }
}

.widget.gsc-heading.style-1 .heading-inner:after {
  border-top-color: #D5A738;
}

@media (min-width: 992px){
  .slideshow_content {
    margin-top: -55px;
  }
}

.navbar-default {
  background-color: transparent ;
  border-color: transparent ;
}

.widget.gsc-heading .title {
  color: #D5A738;
}
.owl-carousel .owl-nav > div {
  background: #972E3D;
}

.gsc-timeline .item:hover .time, .gsc-timeline .item:focus .time, .gsc-timeline .item:active .time {
  color: #972E3D;
}
.gsc-timeline .item:hover .time:before, .gsc-timeline .item:focus .time:before, .gsc-timeline .item:active .time:before {
  background: #972E3D;
}

.venu-box {
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.venu-image-block .image {
  position: relative;
}

.venu-image-block img{
  border-radius: 5px;
}

.venu-image-block .image::before {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.venu-image-block  .content {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.venu-image-block  .content .title{
  color: white;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.72px;
  line-height: 24px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.section-header {
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  background-image: url(../images/section-header-seprator.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.section-header h3 {
  font-family: 'Poppins', sans-serif;
  color: #3F3F3F;
  font-size: 46px;
  font-weight: bold;
  letter-spacing: -1.6px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 46px;
  word-wrap: break-word;
  position: relative;
}

div.inner-header-text {
  color: #333;
  text-transform: capitalize;
  position: absolute;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  right: 0;
  letter-spacing: 0.96px;
  /*top: 47%;*/
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

h4  a{
  color: #F6F5F3;
  text-decoration: none;
}

h4  a:hover, h4  a:focus, h4  a:active {
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  outline: none !important;
  color: #fff;
}
.venu-image-block .image:hover::before {
  background-color: transparent;
}



.divider
{
  position: relative;
  margin-top: 20px;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(226, 177, 60), transparent);
}

.div-dot:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: #972E3D;
  border: 1px solid rgb(226, 177, 60);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #F6F5F3,
  0 0 0 4px #F6F5F3;
}

.gsc-box-hover {
  background: #333;
}

.gsc-service-carousel .item .gsc-box-hover:before {
  background-color: rgba(0, 0, 0, 0.3);
}

.gsc-box-hover.active .box-content {
  top: 35px;
}
.gsc-service-carousel .item .gsc-box-hover.active .box-content .content .box-title{
  background-color: rgba(151, 46, 61, 0.8);
  height: 100px;
}
.owl-carousel .owl-item img{
  width: 100%;
}

.gbb-row .bb-inner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-post .content-image  {
  opacity: unset;
}

.gallery-post .content-image .title {
  min-height: 90px;
  font-size: 18px;
  color: #fff;
  font-weight: 900;
  line-height: 1;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.gallery-post .content-image .title a{
  font-size: 18px;
  color: #fff;
  font-weight: 900;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

.gallery-post .content-image .post-meta {
  color: #fff;
  position: absolute;
  top: 25px;
  line-height: 48px;
  left: 15px;
  z-index: 12;
}

.gallery-post .content-image .post-meta, .events-single .events-content .post-meta {
  width: 95%;
  display: inline-block;
  margin-bottom: 17px;
}

.gallery-post .content-image .post-meta div.post-add, .events-single .events-content .post-meta div.post-add {
  padding-left: 25px;
  position: relative;
}

.gallery-post .content-image .post-meta div, .events-single .events-content .post-meta div {
  font-weight: 500;
  float: left;
  text-transform: capitalize;
  letter-spacing: 0.56px;
  line-height: 22px;
  margin-bottom: 10px;
  width: 50%;
}

.gallery-post .content-image .post-meta div i, .events-single .events-content .post-meta div i {
  font-size: 25px;
  color: #E2B13C;
  margin-right: 10px;
  vertical-align: middle;
}

.gallery-post .content-image .post-meta div.post-add i, .events-single .events-content .post-meta div.post-add i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.gallery-post .content-image .post-meta div.post-date {
  text-align: right;
}

.testimonial-node-1 .testimonial-content .info .title {
  color: #333333;
  font-size: 18px;
}

.bg-theme {
  background: #D5A738;
}

.column-content.style-1{
  background: #D5A738;
}

.widget.gsc-heading .sub-title {
  color: #222;
}

.btn, .btn-white, .btn-theme, .button-inverted{
  background: #972E3D
}

.owl-carousel{
  max-height: 400px!important;
}


.contact-v1 .contact-message-form{
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-white{
  min-width: 350px!important;
}

/*.posts-grid .post-block:hover .post-content, .posts-grid .post-block:focus .post-content, .posts-grid .post-block:active .post-content {*/
/*  background: #F6F5F3;*/
/*}*/
.posts-grid .post-block:hover .post-content, .posts-grid .post-block:focus .post-content, .posts-grid .post-block:active .post-content {
  background: #F6F5F3;
}
/*.posts-grid .post-block:hover .post-content{*/
/*  background: #F6F5F3;*/
/*}*/
/*AE5D23*/

.contact-v1 .contact-message-form {
  background: rgba(255, 255, 255, 0.2);
}

.portfolio-single .portfolio-informations .item-information span:last-child {
  font-weight: 400;
  display: inline-block;
}

.portfolio-single .portfolio-informations .item-information span:first-child {
  min-width: 15%;
}

.portfolio-single .portfolio-informations .item-information{
  width: 100%;
}

.post-block .post-title a{
  color: #333333;
}

.posts-grid .post-block:hover .post-title a, .posts-grid .post-block:focus .post-title a, .posts-grid .post-block:active .post-title a {
  color: #777777;
}

.posts-grid .post-block:hover .post-meta, .posts-grid .post-block:focus .post-meta, .posts-grid .post-block:active .post-meta {
  color: #777777;
}
.posts-grid .post-block:hover .post-meta a, .posts-grid .post-block:focus .post-meta a, .posts-grid .post-block:active .post-meta a {
  color: #777777;
}

/*.the-museum-info .widget.gsc-heading {*/
/*  margin: 130px 0 0 0;*/
/*  padding: 0;*/
/*}*/
@media (min-width: 992px){
  .navigation .gva_menu > li.menu-item--active-trail > a {
    color: #D5A738 !important;
  }
}

.sidebar .block-menu ul li.menu-item--active-trail > a {
  color: #D5A738 !important;
}

.sidebar .block-menu ul li a:before {
  color: #D5A738 !important;
}

.sidebar .block-menu ul li a:hover, .sidebar .block-menu ul li a:focus, .sidebar .block-menu ul li a:active {
  color: #D5A738;
}

.gallery-post .content-image .title a:hover, .gallery-post .content-image .title a:focus, .gallery-post .content-image .title a:active {
  text-decoration: none;
}

.clients-section .clients-carousel .item a {
  text-align: center;
  line-height: 121px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
  min-height: 121px;
  max-height: 121px;
  -webkit-transition: all 1s ease 0s;
  -moz-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.clients-carousel .owl-carousel {
  max-height: 600px!important;
}

ul.menu > li a:hover {
  color: #D5A738;
}

.footer-center{
  letter-spacing: -0.07em;
}

.sidebar .block-menu ul li{
  background-color: #972E3D;
}

.sidebar .block-menu ul li a{
  color: #fff;
  font-size: 14px;
}

header.header-v2 .header-inner {
  padding-right: 0;
}

.block .block-title > span{
  color: #757575;
}

.block .block-title{
  color: #757575;
  border-bottom: 1px solid #757575;
}

.gsc-our-gallery .item .content-inner .title {
  background: rgba(152, 47, 62, 0.5);
  color: #fff;
}

.post-block .post-title a:hover, .post-block .post-title a:active, .post-block .post-title a:before {
  color: #D5A738;
}

.post-block .post-title a {
  font-family: "Lato", sans-serif;
}

div.widget-title{
  font-weight: bold;
}

div#permanent-exhibition-page-block{
  margin-top: -60px;
}

div.block-views-blockpost-other-block-8{
  margin-top: 60px;
}

.contact-message-form .js-form-item-mail {
  border-bottom: none;
}
.contact-message-form .form-item input[type='text'], .contact-message-form .form-item input[type='email'], .contact-message-form .form-item textarea {
  width: 100%;
  /* border: none; */
  border-bottom: none;
}

.contact-message-form #edit-name, .contact-message-form #edit-mail, .contact-message-form .js-form-item-mail{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)!important;
}

.contact-message-form .form-item input[type='text'], .contact-message-form .form-item input[type='email'], .contact-message-form .form-item textarea{
  border: 1px solid rgba(0, 0, 0, 0.1)!important;
}

div#contact-divider{
  margin-top: 30px;
}

.topbar{
  font-size:13px;
  font-weight: 600;
}

a:hover, a:focus, a:active {
  color: #D5A738;
}

.block.block-simplenews .form-actions:after {
  background: #D5A738;
}
