/**
 * @file
 * Styles for Newsplus's solid light gray color scheme.
 * base-color: #F3F3F3
 * darker-color: #252525
 * lighter-color: #555555
 * rgb-base: 85,85,85
 * rgb-light: 54,54,54
 */

/* base: elements */
a {
  color: #3f3f3f;
}
p a {
  text-decoration: underline;
}
a:hover,
a:focus,
a:active {
  color: #3f3f3f;
}
pre {
  border-left-color: #555555;
}

/* base: layout */
#pre-header {
  background-color: #F3F3F3;
}
#header-top,
#header {
  background-color: #F3F3F3;
  border-bottom-color: #F3F3F3;
}
.headers-wrapper {
  position: relative;
  z-index: 499;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.onscroll #header {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* components: accordion */
.panel-title a,
.panel-heading a:hover {
  background-color: #555555;
}

/* components: block */
.sidebar .block > h2,
#page .block-views > h2 {
  border-bottom-color: #F3F3F3;
}

/* components: buttons */
a.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #F3F3F3;
}
.pre-header-area a.button,
.pre-header-area input[type="submit"],
.header-top-area a.button,
.header-top-area input[type="submit"] {
  background-color: rgba(85, 85, 85, 0.8);
  color: #FFFFFF;
}
.pre-header-area a.button:hover,
.pre-header-area input[type="submit"]:hover,
.header-top-area a.button:hover,
.header-top-area input[type="submit"]:hover {
  background-color: rgba(85, 85, 85, 0.6);
}
a.button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
a.button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
a.button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background-color: #555555;
  color: #ffffff;
}

/* components: dropdown-blocks */
.dropdown .trigger {
  color: #3f3f3f;
}

/* components: fields */
.field--entity-reference-target-type-taxonomy-term ul.links li a:hover {
  background-color: #555555;
}

/* components: flexslider-internal-banner */
#internal-slider-carousel ul.slides > li.flex-active-slide,
#internal-slider-carousel ul.slides > li:hover {
  border-color: #555555;
}
@media (max-width:767px) {
  #internal-slider-carousel .flex-direction-nav a {
    border-color: #555555;
    color: #555555;
  }
}

/* components: flexslider-main */
.flex-direction-nav a {
  color: #555555;
}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
  background-color: #555555;
}
@media screen and (max-width:860px) {
  .flex-control-paging li a:hover,
  .flex-control-paging li a.flex-active {
    background-color: #555555;
  }
}

/* components: forms */
input.form-text:focus,
textarea:focus {
  border-color: #555555;
}

/* components: image-overlay */
.overlay {
  background-color: #555555;
  background-color: rgba(85, 85, 85, 0.3);
}
.overlay i {
  background-color: #555555;
}

/* components: menu */
ul.menu li a:hover {
  background-color: #555555;
}
ul.menu li.menu-item--collapsed > a:before,
ul.menu li.menu-item--expanded > a:before,
.subfooter-area ul.menu li a:hover {
  color: #555555;
}

/* components: menu: superfish */
#main-navigation .sf-menu ul,
#pre-header .sf-menu ul,
#header-top .sf-menu ul {
  background-color: #555555;
  background-color: rgba(85, 85, 85, 0.9);
}
#main-navigation .sf-menu > li.sfHover > a,
#pre-header .sf-menu > li.sfHover > a,
#header-top .sf-menu > li.sfHover > a {
  background-color: #555555;
}

/* components: node-links */
ul.links li.statistics-counter {
  color: #3f3f3f;
}
ul.links li a:hover,
.more a:hover {
  background-color: #555555;
}

/* components: node */
.post-progressbar {
  background-color: #555555;
}
.node-info-item .field--entity-reference-target-type-taxonomy-term ul.links li a,
.node-info-item-term .field--name-field-mt-post-categories a {
  color: #555555;
}
.node-info-item .field--entity-reference-target-type-taxonomy-term ul.links li a:hover,
.node-info-item-term .field--name-field-mt-post-categories a:hover {
  color: #555555;
}

/* components: pager */
li.pager__item > a:hover,
li.pager__item.is-active > a {
  background-color: #3f3f3f;
}

/* components: primary-menu */
#main-navigation ul.menu ul li a,
#header-top ul.menu ul li a,
#pre-header ul.menu ul li a {
  color: #ffffff;
}
#main-navigation ul.menu li > a,
#header-top ul.menu li > a,
#pre-header ul.menu li > a {
  color: #3f3f3f;
}
#main-navigation ul.menu li.sfHover > a:hover,
#header-top ul.menu li.sfHover > a:hover,
#pre-header ul.menu li.sfHover > a:hover {
  color: #3f3f3f;
}
#main-navigation ul.menu li > a:hover,
#main-navigation ul.menu li.sfHover a,
#main-navigation ul.menu li.sfHover > a:hover,
#header-top ul.menu li > a:hover,
#header-top ul.menu li.sfHover a,
#header-top ul.menu li.sfHover > a:hover,
#pre-header ul.menu li > a:hover,
#pre-header ul.menu li.sfHover a,
#pre-header ul.menu li.sfHover > a:hover {
  color: #ffffff;
}
body:not(:target) .region-navigation .menu-toggle:hover,
body:not(:target) .region-navigation .menu-toggle--hide {
  background-color: #555555;
}
@media all and (min-width:768px) and (max-width:991px) {
  .region-navigation .menu-item,
  body:not(:target) .region-navigation .menu-item,
  .region-navigation .menu .menu-item a:hover {
    background-color: #555555;
  }
  .region-navigation .menu-item a,
  body:not(:target) .region-navigation .menu-item a {
    background-color: #F3F3F3;
  }
}

/* components: social-links */
.header-area ul.icons-list li a {
  color: #909599;
}
.header-area ul.icons-list li a:hover {
  background-color: #555555;
  color: #ffffff;
}

/* components: user profile */
ul.user-social-bookmarks li a:hover {
  border-color: #555555;
  color: #555555;
}

/* components: tables */
table th {
  background-color: #F3F3F3;
  color: #252525;
  border-color: #dddddd;
}
table td {
  background-color: #FFFFFF;
  color: #252525;
  border-color: #dddddd;
}

/* components: tabs */
.nav-tabs {
  border-bottom-color: #555555;
}
.nav-tabs > li > a:hover {
  border-color: #555555;
  background-color: #555555;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #555555;
  border-color: #555555;
}
@media (min-width:481px) {
  .nav-tabs > li.active > a:after {
    color: #555555;
  }
}

/* components: teaser-listings */
.view-feed .promoted-posts .view-header span {
  background-color: #555555;
}

/* components: to-top */
#toTop {
  color: #555555;
}

/* components: view-breaking-slider */
.view-titles .more-link a {
  background-color: #FFFFFF;
  color: #3f3f3f;
  border-bottom: 6px solid #dadada;
}
.view-titles .view-content {
  background: #ffffff;
}

/* components: view-most-popular */
.view-popular-objects .views-row:hover {
  border-color: #555555;
}
.view-popular-objects .views-row:hover .views-field-field-mt-post-categories a {
  background-color: #555555;
}

/* components: views */
.views-field-title a:hover {
  color: #555555;
}
.views-field-field-mt-post-categories a:hover {
  background-color: #555555;
}

/* Components: view-tags-cloud */
.view-mt-tags-cloud .views-row a:hover {
  background-color: #555555;
}

/* Components: slider-revolution */
.tp-mouseover .tparrows:hover {
  background-color: #555555;
}
.tparrows:before {
  color: #555555;
}