.post-block{
   background: $white;
   .post-image {
      overflow: hidden;
      a{
        position: relative;
        display: block;
      }
      img{
        width: 100%;
        @include transition(all 0.4s);
      }
      &:hover{
        a:before, a:after{
          @include scale(1);
        }
      }
    }
   .post-title{
      padding: 5px 0;
      margin-bottom: 5px;
      a{
        display: block;
        line-height: 24px;
        font-weight: 400;
        font-size: 16px;
        color: $black;
        font-family: $font-second;
        text-transform: none;
        -webkit-hyphens: auto;
        -moz-hyphens:    auto;
        -ms-hyphens:     auto;
        hyphens:         auto;
        word-wrap: break-word;
        &:hover, &:active, &:before{
          color: $theme-color;
        }
      }
   }
   .post-content{
    @include clearfix();
   }
   .post-meta{
    font-size: 12px;
    font-weight: 400;
    padding: 0 0 10px;
    color: #757575;
    @include clearfix();
    a{
      text-transform: uppercase;
      &:hover, &:active, &:focus{
        text-decoration: underline;
      }
    }
    .post-categories{
      margin-bottom: 0;
    }   
  }
  .post-created{
    position: relative;
  } 
  .post-description{
    margin-top: 15px;
  }
  .post-comment{
    text-transform: none;
    position: relative;
  }
  .post-categories{
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
  }
  .content-after{
    padding: 10px 0 0;
  }
  .post-link a{
    font-size: 12px;
    position: relative;
    padding-right: 25px;
    &:after{
      content: '\f178';
      font-family: "FontAwesome";
      position: absolute;
      right: 0;
      top: 3px;
      z-index: 1;
      line-height: 10px;
      font-size: 16px;
    }
  }
}

.gallery-post{
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  &:after{
    content: "";
    @include size(100%, 100%);
    @include transition(all 0.35s);
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    @include opacity(0);
  }
  .image{
    overflow: hidden;
    
  }
  .content-image{
    @include opacity(0);
    .link-image{
      font-size: 18px;
      color: $white;
      position: absolute;
      top: 15px;
      @include size(48px, 48px);
      @include border-radius(50%);
      text-align: center;
      line-height: 48px;
      background: rgba(255, 255, 255, 0.25);
      right: 15px;
      z-index: 11;
    }
    .title{
      text-align: left;
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      z-index: 11;
      a{
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 18px;
        width: 100%;
        padding-top: 5px;
        display: block;
        color: $white;
        font-weight: 400;
        &:hover, &:focus, &:active{
          text-decoration: underline;
        }
      }
    }
  }
  &:hover{
    &:after{
      @include opacity(1);
    }
    .content-image{
      @include opacity(1);
    }
  }
}

//Post skin dark
.style-dark{
  .post-block{
    background: $nocolor;
    .post-title{
      background: $nocolor;
      a{
        color: $white;
        &:hover{
          color: $theme-color;
        }
      }
    }
  }
}

.post-slideshow{
   div[class*="col-"]{
      padding: 0;
   }
}
//------------------------- Horizontal post -------------------------------
.post-style-horizontal{
  .post-block{
    @include clearfix();
    @media(max-width: 480px){
      .row{
        > div{
          width: 100%!important;
        }
      }
    }
    .post-content{
      padding-top: 10px;
      padding-right: 20px;
    }
  }
}

//------------------------- Grid post -------------------------------
.posts-grid{
  .post-block{
    margin: 10px 0;
    background: $white;
    text-align: left;
    .post-categories{
      margin: 0;
    }
    .post-content{
      background: $white;
      position: relative;
      border-top: 0;
      padding: 15px 0;
      text-align: center;
      @include transition(all 0.35s);
    }
    .post-title a{
      font-size: 18px;
      &:hover, &:focus, &:active{
        text-decoration: underline;
      }
    }
    .post-meta{
      padding: 0 0 10px;
      text-transform: uppercase;
      font-size: 12px;
      color: #757575;
      a{
        text-transform: uppercase;
      }
    }
    &:hover, &:focus, &:active{
      .post-content{
        background: $theme-color;
      }
      .post-title a{
        color: $white;
      }
      .post-meta{
        color: $white;
        a{
          color: $white;
        }
      }
    }
  }
}

.posts-grid-2{
  .post-block{
    .post-image{
      width: 50%;
      float: left;
    }
    .post-content{
      width: 50%;
      float: left;
      padding-left: 25px;
      .post-title a{
        font-size: 18px;
        font-weight: 400;
        &:hover, &:focus, &:active{
          text-decoration: underline;
        }
      }
    }
  }
}

.posts-grid-3{
  .post-block{
    margin: 10px 0;
    background: $white;
    text-align: left;
    .post-categories{
      margin: 0;
    }
    .post-content{
      background: $white;
      position: relative;
      border-top: 0;
      padding: 15px 25px;
      text-align: left;
      @include transition(all 0.35s);
    }
    .post-title a{
      font-size: 18px;
      &:hover, &:focus, &:active{
        text-decoration: underline;
      }
    }
    .post-meta{
      padding: 0 0 10px;
      text-transform: uppercase;
      font-size: 12px;
      color: #757575;
      a{
        text-transform: uppercase;
      }
    }
    .view-node{
      margin-top: 45px;
      text-align: right;
      a{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        position: relative;
        @include transition(all 0.35s);
        &:after{
          content: '\f178';
          font-family: "FontAwesome";
          position: absolute;
          top: 5px;
          right: 0;
          @include opacity(0);
          z-index: 1;
          line-height: 10px;
          @include transition(all 0.35s);
        }
        &:hover, &:focus, &:active{
          padding-right: 20px;
          &:after{
            @include opacity(1); 
          }
        }
      }
    }
  }
}

.post-style-hero{
  .post-block{
    position: relative;
    .post-image a{
      &:after{
        content: "";
        @include size(100%, 100%);
        top: 0;
        left: 0;
        z-index: 1;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
      }
    }
    .post-content{
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 15px 20px;
      width: 100%;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0, 0.9) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.9)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
      z-index: 9;
      .post-title{
        padding: 0;
        a{
          font-size: 13px;
          color: $white;
          text-transform: uppercase;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .post-meta{
        color: rgba(255, 255, 255, 0.7);
        a{
          color: $white;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .post-body{
        margin-top: 10px;
        color: rgba(255, 255, 255, 0.7);
        line-height: 26px;
        p{
          margin-bottom: 0;
        }
      }
    }
  }
  &.v2{
    .post-block{
      @include border-radius(10px);
      overflow: hidden;
      .post-content{
        padding: 30px;
        @include border-radius(0 0 10px 10px);
        overflow: hidden;
      }
      .post-image a{
        img{
          @include border-radius(10px);
        }
        &:after{
          @include border-radius(10px);
          overflow: hidden;
        }
      }
    }
  }
}  

.node--view-mode-full{
  .post-thumbnail{
    margin-bottom: 10px;
    iframe{
      min-height: 400px;
    }
  }

  .post-title{
    margin: 0;
  }
  .post-categories{
    padding-bottom: 0;
    margin-bottom: 5px;
  }
 
}
.node-detail{
  padding-bottom: 35px;
  iframe{
    width: 100%;
    display: block;
  }
  .post-thumbnail.post-gallery{
    overflow: hidden;
    .owl-nav{
      @include opacity(1);
      .owl-prev{
        margin-left: 100px;
      }
      .owl-next{
        margin-right: 100px;
      }
    }
  }
  .post-title{
    margin-top: 10px;
    font-size: 24px; 
  }
  .post-meta{
    margin-bottom: 20px;
  }
  .field--name-field-tags{
    .field__item{
      float: left;
      margin-right: 10px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.categories-view-content{
  &.layout-grid, &.layout-masonry{
    .post-block{
      margin-bottom: 30px;
      text-align: left;
      .post-categories{
        margin: 0;
        h2, h3, h4{
          margin: 0;
          line-height: 1;
        }
      }
      .post-title{
        padding: 0;
      }
      .post-meta{
        margin-top: 0;
      }
      .post-body{
        padding: 10px 0 15px;
      }
      .post-content{
        padding: 15px;
        border: 1px solid $border-color;
        border-top: 0;
      }
    }
  }
  &.layout-list{
    .post-block{
      @include clearfix();
      margin-bottom: 0;
       .post-thumbnail{
          width: 45%;
          float: left;
          @media(max-width: $screen-xs-max){
            width: 100%;
          }
       }
       .post-title{
          padding: 0;
          margin: 0;
        }
       .post-content{
        width: 55%;
        float: left;
        padding-left: 30px;
        @media(max-width: $screen-xs-max){
          width: 100%;
        }
        .post-categories{
          line-height: 1;
          padding-bottom: 0;
          margin-bottom: 0;
          h2{
            margin: 0;
          }
        }
       }
    }
  }
}

//------------------ Display post stick ---------------------
.post-style-stick{
    .item-list > ul{
       > li{
          border-bottom: 1px dashed #e1e1e1;
          display: block;
          float: right;
          overflow: hidden;
          width: 50%;
          clear: right;
          @media(max-width: $screen-sm-max){
            width: 100%;
            clear: both;
          }
          .post-title, .post-meta, .post-meta-wrap{
            clear: both;
          }
          &:last-child{
            margin-bottom: 0!important;
          }
          &:after {
             visibility: hidden;
             display: block;
             content: ".";
             clear: right;
             height: 0;
          }
          &:not(:first-child){
            margin-bottom: 15px;
            padding-bottom: 15px;
             .post-image{
                display: none;
             }
             .post-title, .post-meta, .post-meta-wrap{
              clear: none!important;
             }
             .post-content-inner, .content-body, .post-body{
                display: none;
             }
             .post-title{
                padding: 0;
                a{
                  font-size: 12px;
                  line-height: 22px;
                  display: block;
                  &:hover{
                    color: $theme-color;
                  }
                }
             }
          }
          &:first-child{
             border-bottom: 0 none;
             display: block;
             float: left;
             padding-right: 15px!important;
             width: 50%;
             clear: none;
             padding-bottom: 0;
             margin-bottom: 0;
              @media(max-width: $screen-sm-max){
                width: 100%;
                clear: both;
                margin-bottom: 20px;
              }
              .post-title{
                padding: 12px 0 0;
                a{
                  font-size: 14px;
                  line-height: 24px;
                  &:hover{
                    color: $theme-color;
                  }
                }
              }
              .post-meta{
                margin: 0 0 10px;
              }
              &:after {
                content: none;
              }
          }
       }
    }
   &.image{
    .item-list > ul{
       > li{
        border: none;
          &:not(:first-child){
            margin-bottom: 20px;
            padding-bottom: 0 ;
           .post-image{
            display: inline-block;
              @include size(85px, auto);
              float: left;
           }
           .post-content{
              padding-left: 95px;
           }
           .post-title, .post-meta, .post-meta-wrap{
            clear: none!important;
           }
           .post-content-inner, .content-body, .post-body{
              display: none;
           }
        }
      }
    }
  }
  &.list{
    .item-list > ul{
      > li{
        width: 100%!important;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 15px;
        padding-bottom: 15px!important;
        &:first-child{
         border-bottom: 1px solid #e1e1e1;
         display: block;
         float: left;
         padding-right: 0!important;
         clear: none;
         margin-bottom: 15px;
        padding-bottom: 15px;
        }
        &:last-child{
          border: none;
        }
      }
    }
  }
}

//------------------ Display post list ---------------------
.post-style-list{
  ul > li{
    margin-bottom: 20px!important;
  }
  .post-block{
    clear: both;
    .post-image{
      width: 40%;
      float: left;
      @media(max-width: $screen-xs-max){
        width: 100%;
      }
      img{
        height: auto;
        width: 100%;
      }
    }
    .post-meta{
      margin-top: 3px;
    }
    .post-content{
      padding-top: 5px;
      width: 60%;
      padding-left: 15px;
      float: left;
      @media(max-width: $screen-xs-max){
        width: 100%;
        padding-left: 0;
      }
    }
    .post-title{
      padding-top: 0;
    }
    &.no-image{
      .post-content{
        width: 100%;
        padding-left: 0;
      }
    }
  }
  &.small{
    .post-block{
      margin-bottom: 20px;
      @include clearfix();
    }
    .post-image{
      width: 90px;
      height: auto;
      @media(max-width: $screen-md-max){
        width: 60px;
      }
    }
    .post-content{
      padding-left: 105px;
      float: none;
      width: 100%;
      @media(max-width: $screen-md-max){
        padding-left: 80px;
      }
    }
    .post-title{
      padding: 0;
      margin-bottom: 0;
      a{
        font-size: 15px;
        margin-top: -5px;
        text-transform: none;
        line-height: 22px;
        &:hover{
          color: $theme-color;
        }
      }
    }
    .post-meta{
      padding: 0;
    }
  }
}

.list-ziczac{
  .view-content-wrap{
    .item{
      margin-bottom: 30px;
      .post-block{
        max-width: 900px;
        margin: 0 auto;
        @include clearfix();
        .post-image{
          width: 40%;
          float: left;
        }
        .post-content{
          width: 60%;
          background: #F5F5F5;
          float: left;
          padding: 20px 30px 50px;
          margin-top: 10px;
          .post-title{
            a{
              font-size: 18px;
              color: #6a6872;
              &:hover, &:focus, &:active{
                color: $theme-color;
              }
            }
          }
          .post-meta{
            float: left;
            width: 100%;
            text-transform: uppercase;
            font-weight: 700;
            color: #757575;
            margin-top: 5px;
            a{
              color: #757575;
              &:hover, &:focus, &:active{
                color: $theme-color;
              }
            }
          }
        }
        .view-node{
          text-align: right;
          float: right;
          margin-top: 20px;
          a{
            color: #9896a4;
            text-transform: uppercase;
            &:hover, &:focus, &:active{
              color: $theme-color;
            }
          }
        }
      }
      &:nth-child(2n){
        .post-block{
          .post-image{
            float: right!important;
          }
          .post-content{
            float: right!important;
          }
          .view-node{
            text-align: left;
            float: left;
          }
        }
      }
    }
  }
}