.portfolio-filter{
  margin-bottom: 20px;
  text-align: center;
  ul.nav-tabs{
    display: inline-block;
    > li{
      > a{
        font-weight: 400;
        color: #757575;
        font-size: 14px;
        padding: 5px 20px!important;
        text-transform: none;
        font-weight: 700;
        margin-right: 10px;
        @include transition(all 0.35s);
        border-color: transparent!important;
        @include box-shadow(none);
        position: relative;
        background: none!important;
        &:after{
          content: "";
          border: 7px solid transparent;
          border-top-color: $theme-color;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1;
          @include rotate(-135deg);
          @include opacity(0);
          @include transition(all 0.35s);
        }
        &.active, &:hover, &:focus, &:active{
          color: $theme-color!important;
          border-color: $theme-color!important;
          &:after{
            @include opacity(1);
          }
        }
      }
    }
  }
}

.portfolio-item{
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%, 100%); 
    background: $black;
    @include opacity(0);
    z-index: 1;
    @include transition(all 0.35s);
  }
  .content-inner{
    position: absolute;
    @include size(100%, auto);
    left: 0;
    bottom: -20px;
    @include translateY(0);
    z-index: 11;
    @include opacity(0);
    text-align: left;
    @include transition(all 0.35s);
    padding: 25px 25px 25px;
    .tags{
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.8);
      position: relative;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      margin-bottom: 5px;
      padding-bottom: 5px;
      a{
        color: rgba(255, 255, 255, 0.8);
      }
    }
    .title{  
      a{
        font-size: 18px;
        color: $white;
        font-weight: 400;
        line-height: 26px;
        &:hover, &:focus, &:active{
          text-decoration: underline;
        }
      }
    }
  }
  ul{
    list-style: none;
    padding: 0;
  }
  &:hover, &:active, &:focus{
    &:after{
      top: 0;
      @include opacity(0.7);
    }
    .content-inner{
      @include opacity(1);
      bottom: 0;
    }
  }
}

.portfolio-grid-1{
  .row{
    margin-left: -2px!important;
    margin-right: -2px!important;
  }
  .isotope-items > div{
    padding-left: 2px!important;
    padding-right: 2px!important;
  }
  .portfolio-item{
    margin-bottom: 4px;
  }
}

.portfolio-v2{
  margin-bottom: 35px;
  ul{
    padding: 0;
    list-style-type: none;
  }
  .image{
    position: relative;
    @include border-radius(5px);
  }
  .content-inner{
    position: relative;
    @include transition(all 0.35s);
    @include clearfix();
    text-align: left;
    .title{
      font-size: 14px;
      font-weight: 700;
      color: $black;
      line-height: 24px;
      font-family: $font-second;
      text-transform: uppercase;
      margin: 15px 0 10px;
    }
  }
}

.text-light{
  .portfolio-v2{
    .content-inner{
      a{
        color: $white;
        &:hover, &:focus, &:active{
          text-decoration: underline;
        }
      }
    }
  }
}

.portfolio-single{
  padding-bottom: 30px;
  .portfolio-informations{
    margin-bottom: 15px;
    .item-information{
      border-bottom: 1px solid $border-color;
      padding: 15px 0;
      span{
        &:first-child{
          font-weight: 700;
          min-width: 120px;
          display: inline-block;
        }
      }
    }
  }
  .post-content{
    ul{
      padding-left: 20px;
      margin-top: 15px;
    }
  }
  .post-categories{
    .field__item{
      float: left;
    }
  }
}
