.no-margin{
  margin: 0!important;
}

.margin-top-0{
  margin-top: 0!important;
}
.margin-top-10{
  margin-top: 10px!important;
}
.margin-top-15{
  margin-top: 15px!important;
}
.margin-top-20{ 
  margin-top: 20px!important;
}
.margin-top-30{ 
  margin-top: 30px!important;
}
.margin-top-40{ 
  margin-top: 40px!important;
}
.margin-top-50{ 
  margin-top: 50px!important;
}
.margin-top-60{ 
  margin-top: 60px!important;
}

.margin-bottom-0{
  margin-bottom: 0!important;
}
.margin-bottom-10{
  margin-bottom: 10px!important;
}
.margin-bottom-15{
  margin-bottom: 15px!important;
}
.margin-bottom-20{
  margin-bottom: 20px!important;
}
.margin-bottom-30{
  margin-bottom: 30px!important;
}
.margin-bottom-40{
  margin-bottom: 40px!important;
}
.margin-bottom-50{
  margin-bottom: 50px!important;
}
.margin-bottom-100{
  margin-bottom: 100px!important;
}

.padding-10{
  padding: 10px!important;
}
.padding-20{
  padding: 20px!important;
}
.padding-30{
  padding: 30px!important;
}
.padding-40{
  padding: 40px!important;
}
.padding-50{
  padding: 50px!important;
}
.padding-60{
  padding: 60px!important;
}

.padding-bottom-0{
  padding-bottom: 0!important;
}
.padding-bottom-10{
  padding-bottom: 10px!important;
}
.padding-bottom-15{
  padding-bottom: 15px!important;
}
.padding-bottom-20{
  padding-bottom: 20px!important;
}
.padding-bottom-30{
  padding-bottom: 30px!important;
}
.padding-bottom-40{
  padding-bottom: 40px!important;
}
.padding-bottom-50{
  padding-bottom: 50px!important;
}
.padding-bottom-100{
  padding-bottom: 100px!important;
  @media(max-width: $screen-sm-max){
    padding-bottom: 30px!important;
  }
}
.padding-top-10{
  padding-top: 10px!important;
}
.padding-top-20{
  padding-top: 20px!important;
}
.padding-top-30{
  padding-top: 30px!important;
}
.padding-top-40{
  padding-top: 40px!important;
}
.padding-top-50{
  padding-top: 50px!important;
}

.width-100{
  max-width: 100px;
  margin: 0 auto;
}
.width-200{
  max-width: 200px;
  margin: 0 auto;
}
.width-300{
  max-width: 300px;
  margin: 0 auto;
}
.width-400{
  max-width: 400px;
  margin: 0 auto;
}
.width-500{
  max-width: 500px;
  margin: 0 auto;
}
.width-600{
  max-width: 600px;
  margin: 0 auto;
}
.width-700{
  max-width: 700px;
  margin: 0 auto; 
}
.width-800{
  max-width: 800px;
  margin: 0 auto;
}
.width-900{
  max-width: 800px;
  margin: 0 auto;
}
.width-1000{
  max-width: 1000px;
  margin: 0 auto;
}

.height-100{
  min-height: 100px;
  margin: 0 auto;
}
.height-200{
  min-height: 200px;
  margin: 0 auto;
}
.height-300{
  min-height: 300px;
  margin: 0 auto;
}
.height-400{
  min-height: 400px;
  margin: 0 auto;
}
.height-500{
  min-height: 500px;
  margin: 0 auto;
}
.height-600{
  min-height: 600px;
  margin: 0 auto;
}
.height-700{
  min-height: 700px;
  margin: 0 auto; 
}
.height-800{
  min-height: 800px;
  margin: 0 auto;
}
.height-900{
  min-height: 800px;
  margin: 0 auto;
}
.height-1000{
  min-height: 1000px;
  margin: 0 auto;
}
.radius-1x{
  @include border-radius(3px);
}
.radius-2x{
  @include border-radius(5px);
}
.radius-5x{
  @include border-radius(50%);
}
.border-1{
  border: 1px solid $theme-color;
}
.border-2{
  border: 2px solid $theme-color;
}
.border-3{
  border: 3px solid $theme-color;
}
.border-4{
  border: 4px solid $theme-color;
}
.border-5{
  border: 5px solid $theme-color;
}
.padding-responsive{
  padding: 30px 120px;
  @media(max-width: $screen-sm-max){
    padding: 30px;
  }
}
  
.special-margin-top{
  margin-top: -100px; 
  @media(max-width: $screen-sm-max){
    margin-top: 20px;
  }
}

.margin-top-contact{
  margin-top: -100px; 
  padding-bottom: 80px;
  @media(max-width: $screen-sm-max){
    margin-top: 30px;
    padding-bottom: 45px;
  }
}

.padding-lr-15p{
  padding-left: 15%;
  padding-right: 15%;
  @media(max-width: $screen-sm-max){
    padding-left: 20px;
    padding-right: 20px;
  }
}
.special-margin-bt{
  margin-bottom: -20px;
  margin-top: -20px;
}
//border
.border{
  border: 1px solid $border-color;
}
.border-top{
  border-top: 1px solid $border-color;
}
.border-bottom{
  border-bottom: 1px solid $border-color;
}

.overflow-visible{
  overflow: visible!important;
}

//Float
.float-left{
  float: left;
}   

.no-bg{
  background-color: $nocolor!important;
}
.col-no-padding{
  div[class*="col-"]{
    padding: 0!important;
  }
}
.p-static{
  position: static!important;
}
.p-relative{
  position: relative!important;
}

.bg-theme{
  background: $theme-color;
}
.bg-white{
  background: $white;
}
.bg-black{
  background: #333333;
}
.bg-dark{
  background: #f6f6f6;
}
.youtube-bg{
  position: relative;
  z-index: 9;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    @include size(100%, 100%);
    z-index: 9;
  }
  .bb-inner{
    position: relative;
    z-index: 99;
  }
}

.ui-widget-content{
  color: $text-color;
}

//text

.text-normal{
  font-size: 15px;
}

.text-size-medium{
  font-size: 24px;
  line-height: 30px;
}

.text-size-big{
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 48px;
  letter-spacing: 1px;
  @media(max-width: $screen-sm-max){
    font-size: 30px;
    line-height: 38px;
  }
} 
.text-size-big{
  font-size: 36px;
  @media(max-width: $screen-sm-max){
    font-size: 20px;
  }
}
.text-black{
  color: $black!important;
}
.text-white{
  color: $white!important;
}
.text-theme{
  color: $theme-color!important;
}

//************* Background ********************/
.gavias-parallax{
  background-attachment: fixed!important;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover; 
  @media(max-width: $screen-xs-max){
    background-attachment: scroll!important;
  }
  &.fp-section{
    background-attachment: scroll!important;
  }
}

.socials {
  display: inline-block;
  text-align: left;
  width: 100%;
  a {
    color: $text-color;
    text-decoration: none;
    @include transition(all 0.5s ease 0s);
    margin-right: 12px;
    font-size: 14px;
    &:last-child{
      margin-right: 0;
    }
    &:hover, &:focus, &:active{
      @include opacity(0.7);
    }
    i{
      color: $white;
      @include size(30px, 30px);
      @include border-radius(50%);
      display: inline-block;
      text-align: center;
      line-height: 30px;
      font-size: 12px;
    }
    i.fa-facebook-square, i.fa-facebook {
      background: #3b5998;
    }
    i.fa-twitter, i.fa-twitter-square {
      background: #4099ff;
    }
    i.fa-skype {
      background: #12a5f4;
    }
    i.fa-dribbble {
      background: #ea4c89;
    }
    i.fa-linkedin-square, i.fa-linkedin {
      background: #0e76a8;
    }
    i.fa-apple {
      background: #f2f2f2;
    }
    i.fa-pinterest {
      background: #c92228;
    }
    i.fa-google-plus-square, i.fa-google-plus {
      background: #d34836;
    }
    i.fa-youtube-square, i.fa-youtube {
      background: #c4302b;
    }
    i.fa-vimeo-square, i.fa-vimeo {
      background: #4ebbff;
    }
    i.fa-tumblr-square, i.fa-tumblr {
      background: #35465c;
    }
    i.fa-xing-square, i.fa-xing {
      background: #126567;
    }
    i.fa-instagram {
      background: #e8e2d9;
    }
  }
}


.post-masonry-style > div, .isotope-items > div{
  margin-left: -1px;
  @include translateX(1px);
}

.nav-tabs {
  > li {
    > a {
      font-weight: 700;
      color: $black;
      padding: 8px 18px!important;   
      border: none;
      font-size: 13px;
      text-transform: uppercase;
      background: none;
      i {
        margin-right: 5px;
      }
      &:hover, &:focus, &:active {
        color: $theme-color;
      }
    }
  }
  > li.active > a, > li > a.active {
    color: $theme-color;
  }
}

.box-quick-link{
  ul {
    padding: 0;
    margin: 0;
      > li{
        @include size(46%, 70px);
        border: 1px solid $border-color;
        float: left;
        list-style: none;
        text-align: center;
        margin-bottom: 8%;
        &:nth-child(2n){
          margin-left: 4%;
        }
        &:nth-child(2n+1){
          margin-right: 4%;
        }
        a{
          font-weight: 700;
          font-size: 13px;
          display: block;
          line-height: 1.8;
          padding-top: 12px;
          i{
            display: block;
            font-size: 23px;
            color: #777777;
          }
          &:hover{
            color: $white;
            i{
              color: $white;
            }
          }
        }
      &:hover{
        background-color: #555555;
        *{
          color: $white;
        }
      }
    }
  }
}

.init-carousel-owl{
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
  .owl-item > .item{
    padding-left: 15px;
    padding-right: 15px;
  }
  &.carousel-no-padding, &.no-padding{
    margin-left: 0!important;
    margin-right: 0!important;
    .owl-item > .item{
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
  &[data-items*="1"]{
    margin-left: 0!important;
    margin-right: 0!important;
    .owl-item > .item{
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
}


div.error{
  background-repeat: no-repeat!important;
  background-image: none!important;
}

// OWL carousel-------------------------
.owl-carousel{
  background: none!important;
  position: relative;
  max-height: 200px;
  .item{
    @include transition(opacity 0.35s);
    visibility: hidden;
    @include opacity(0);
  }
  .owl-stage-outer{
    .item{
      @include opacity(1);
      visibility: visible;
    }
  }
  &.owl-loaded{
    max-height: none;
  }
  .owl-item img{
    display: inline-block;
    width: auto;
  }
  .owl-controls{
    margin: 0;
    .owl-pagination{
      position: relative;
      bottom: 10px;
      z-index: 9;
      display: inline-block;
      width: 100%;
      left: 0;
      .owl-page {
        span{
          background: #d6d6d6;
          @include size(10px, 10px);
        }
        &.active span{
          background: #869791;
        }
      }
    }
  }  
  .owl-dots{
    margin-top: 30px;
    text-align: center;
    float: left;
    width: 100%;
    .owl-dot{
      @include size(8px, 8px);
      background: #ADB2B5;
      @include transition(background 0.35s);
      display: inline-block;
      margin: 0 5px;
      @include border-radius(50%);
      &.active{
        background: $black;
      }
    }
  }
  .owl-nav{
    @include opacity(0);
    @include transition(opacity 0.3s);
    > div{
      @include transition(all 0.3s);
      position: absolute;
      top: 50%;
      margin-top: -20px;
      @include size(30px, 30px);
      background: $theme-color;
      @include opacity(1);
      text-align: center;
      font-size: 18px;
      padding-top: 0;
      padding-bottom: 0;
      i{
        font-size: 22px;
        color: #E1E1E1;
        position: absolute;
        z-index: 9;
        top: 50%;
        margin-top: -11px;
        @include transition(all 0.35s);
      }
      &.owl-prev{
        right: auto!important;
        left: 0!important;
        i{ right: 0; }
        &:hover, &:focus, &:active{
          i{ right: 20px; }
        }
      }
      &.owl-next{
        left: auto!important;
        right: 0!important;
        i{ left: 0; }
        &:hover, &:focus, &:active{
          i{left: 20px;}
        }
      }
    }
  }
  &:hover .owl-nav{
    @include opacity(1); 
  }
  &.carousel-thumbnail{
    &.image{
      .owl-dots{
        .owl-dot{
          background: transparent!important;
          height: 75px;
          width: auto;
          position: relative;
          @include transition(all 0.35s);
          margin: 0 8px;
          img{
            @include border-radius(50%);
            border: 3px solid $white;
            @include size(45px, 45px);
            @include transition(all 0.35s);
            position: relative;
            @include opacity(0.6);
          }
          &.active{
            img{
              top: -15px;
              border: 5px solid $white;
              @include size(70px, 70px);
              @include opacity(1);
            }
          }
        }
      }
    }
    &.text{
      &.top{
        padding-top: 60px;
        .owl-dots{
          position: absolute;
          top: 10px;
          left: 0;
          width: 100%;
          z-index: 99;
          margin-top: 0;
          .owl-dot{
            @include size(auto, auto);
            background: none;
            text-transform: uppercase;
            font-size: 13px;
            margin: 0 10px;
            color: $black;
            font-weight: 700;
            &.active{
              color: $theme-color;
            }
          }
        }
      }
      &.vertical{
        padding-left: 25%;
        .owl-nav{
          display: none;
        }
        .owl-dots{
          position: absolute;
          top: 0;
          left: 0;
          width: 25%;
          z-index: 99;
          margin-top: 0;
          padding-right: 30px;
          @media(max-width: $screen-sm-max){
            width: 100%;
          }
          .owl-dot{
            width: 100%;
            display: block;
            text-align: left;
            background: none;
            text-transform: uppercase;
            font-size: 13px;
            color: $black;
            font-weight: 700;
            background: $white;
            padding: 25px 20px;
            border-bottom: 1px solid $border-color;
            @include border-radius(0);
            height: auto;
            line-height: 1;
            position: relative;
            &:after{
              content: "";
              position: absolute;
              right: 0;
              top: 15px;
              bottom: 15px;
              width: 3px;
              background: $theme-color;
              @include opacity(0);
              @include transition(all 0.35s);
            }
            &:last-child{
              border-bottom: 0;
            }
            @media(max-width: $screen-sm-max){
              display: inline-block;
              width: auto;
              text-align: center;
            }
            &.active{
              color: $theme-color;
              &:after{
                @include opacity(1);
              }
            }
          }
        }
      }
    }
  }
  &.pagination-right{
    .owl-dots{
      position: absolute;
      right: -30px;
      top: 50%;
      margin-top: 0;
      @include translateY(-50%);
      width: 10px;
      height: auto;
      .owl-dot{
        display: block;
        margin: 10px 0;
      }
    }
  }
  &.pagination-left{
    .owl-dots{
      float: left;
      width: auto;
      margin-top: 15px;
    }
  }
  &.padding-left{
    .owl-dots{
     float: left;
     width: auto;
     margin-top: 15px;
    }
  }
  &.padding-right{
    .owl-dots{
     float: right;
     margin-top: 15px;
     max-width: 750px;
     > .owl-dot{
      float: left;
     }
    }
  }
  &.white{
    .owl-dots{
      .owl-dot{
        background: #AAABAC;
        &.active{
          background: $white;
        }
      }
    }
  }
}

.text-light{
  .owl-carousel .owl-nav i{
    color: $white;
  }
}

.btn, .btn-white, .btn-theme, .button-inverted{
  background: $theme-color;
  color: $white;
  overflow: hidden;
  @include transition(all 0.3s);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 22px 8px;
  position: relative;
  display: inline-block;
  z-index: 1;
  &:hover, &:focus, &:active, &.active{
    color: #757575;
    background: #F5F5F5;
  }
}

.button-inverted{
  background: #F5F5F5;
  color: #757575;
  &:hover, &:focus, &:active, &.active{
    color: $white;
    background: $theme-color;
  }
}

.btn-white{
  background: $white;
  color: $black;
  border-color: $white;
  &:hover{
    color: $white;
    background: $theme-color;
  }
}

.user-login-form, .user-register-form, .user-form, .user-pass{
  input[type*='submit']{
    font-size: 12px;
    text-transform: uppercase;
    background: $theme-color;
    color: $white;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 7px 15px;
    position: relative;
    display: inline-block;
    @include transition(all 0.35s);
    border: 1px solid transparent;
    &:hover, &:focus, &:active{
      background: $white;
      color: $black;
      border-color: $theme-color;
    }
  }
}


/*************** Progress Bars ***************/  
.progress-label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #303030;
  text-transform: uppercase;
}
.progress {
  height: 17px!important;
  @include border-radius(30px);
  background-color: #dadada!important;
  position: relative;
  overflow: visible!important;
  margin-bottom: 30px;
  @include box-shadow(none);
  .progress-bar {
    @include border-radius(30px);
    @include transition(width 2s ease-in-out);
    text-align: right;
    line-height: 16px!important;
    background: $theme-color;
  }
  .progress-bar .percentage {
    position: absolute;
    font-size: 14px;
    text-align: center;
    right: 5px;
    top: -25px;
    z-index: 9;
    color: $text-color;
  }
}

/*************** Pricing Tables ***************/
.pricing-table {
  &.style-1{
    text-align: center;
    position: relative;
    background-color: #fff;
    top: 0;
    @include transition(all 0.35s);
    ul li{ 
      list-style: none;
    }
    .plan-name {
      @include transition(all 0.35s);
      font-weight: 700; 
      text-transform: uppercase;
      padding: 5px 10px;
      background: $theme-color;
      .title {
        font-weight: 400;
        color: $white;
        font-size: 18px;
        font-family: $font-second;
      }
    }
    .content-wrap{
      .plan-price {
        .price-value {
          padding: 25px 15px 20px;
          .dollar{
            font-size: 48px;
            font-weight: 400;
            display: inline-block;
            position: relative;
            color: $theme-color;
            line-height: 1;
            font-family: $font-second;
          }
          .value {
            font-size: 48px;
            font-weight: 400;
            display: inline-block;
            color: $theme-color;
            line-height: 1;
            font-family: $font-second;
          }
        }
        .interval {
          line-height: 28px;
          font-size: 14px!important;
          font-weight: 400;
          top: -5px;
          position: relative;
          display: block;
          float: left;
          width: 100%;
        }
      }
    }  
    .plan-list{
      padding: 35px 20px;
      ul{
        margin: 0!important;
        padding: 0!important;
        li {
          padding: 6px 0;
          font-size: 14px;
          list-style: none;
          position: relative;
          color: #757575;
        }
      }
    }  
    .plan-signup {
      padding: 0 20px 20px;
    }
    &:hover, &:focus, &:active{
      @include box-shadow(0 1px 15px 0 rgba(0, 0, 0, 0.1));
    }
    &.highlight-plan {
      @include box-shadow(0 1px 15px 0 rgba(0, 0, 0, 0.1));
      position: relative;
      z-index: 1;
      .plan-price{
        background: $theme-color;
        position: relative;
        .price-value{
          z-index: 9;
          position: relative;
        }
        &:after{
          content: "";
          @include size(100%, auto);
          position: absolute;
          top: -20px;
          bottom: 0;
          left: 0;
          z-index: 1;
          background: $theme-color;
        }
        .dollar, .value, .interval{
          color: $white!important;
        }
      }
      .plan-name{
        background: lighten($theme-color, 10%)!important;
      }
      .content-inner{
        position: relative;
        z-index: 9;
      }
      &:after{
        content: "";
        @include size(100%, auto);
        position: absolute;
        top: -20px;
        bottom: -20px;
        left: 0;
        right: 0;
        z-index: 8;
        @include box-shadow(0 1px 15px 0 rgba(0, 0, 0, 0.1));
        background: $white;
      }
      .button-inverted{
        background: $theme-color;
        color: $white;
      }
    }
  }
  &.style-2{
    border: 1px solid $border-color;
    .pricing-header{
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 20px;
      .pricing-header-inner{
        padding: 55px 25px 10px;
        @include transition(all 0.35s);
        &:after{
          content: "";
          border: 10px solid transparent;
          border-top-color: $white;
          position: absolute;
          right: -2px;
          top: -2px;
          z-index: 1;
          @include rotate(-135deg);
          @include opacity(0);
        }
      }
      &:after{
        content: "";
        @include size(120px, 1px);
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        bottom: 0;
        left: 25px;
        z-index: 1;
        @include transition(all 0.35s);
      }
      .plan-name{
        text-align: left;
        background: none;
        padding: 0;
        .title{
          background: none;
          font-size: 24px;
          color: $link-color;
          line-height: 14px;
          text-transform: none;
          font-family: $font-second;
        }
      }
      .subtitle{
        padding: 20px 25px 0;
        font-style: italic;
      }
      .plan-price{
        text-align: left;
        font-size: 16px;
        span{
          font-size: 16px!important;
          color: #313131!important;
        }
      }
    }
    .plan-list{
      min-height: 270px;
      ul{
        > li{
          list-style-type: none;
          padding-left: 30px;
          position: relative;
          margin-bottom: 15px;
          color: #303030;
          &:after{
            content: "\f00c";
            font-family: "FontAwesome";
            position: absolute;
            top: 2px;
            left: 2px;
            z-index: 1;
            color: #303030;
          }
        }
      }
    }
    .plan-signup{ 
      text-align: right;
      padding-right: 30px;
      padding-bottom: 20px;
      a{
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        padding-right: 0;
        @include transition(all 0.35s);
        i{
          margin-left: 12px;
          position: absolute;
          z-index: 1;
          right: 0;
          top: 5px;
          line-height: 9px;
          @include opacity(0);
          @include transition(all 0.35s);
        }
        &:hover, &:active, &:focus{
          padding-right: 20px;
          i{
            @include opacity(1);
          }
        }
      }
    }
    &.highlight-plan, &:hover, &:active, &:focus{
      .pricing-header{
        &:after{
          right: 25px;
          background: rgba(0, 0, 0, 0.3);
          width: auto;
        }
        .pricing-header-inner{
          background: $theme-color;
          color: $white;
          &:after{
            @include opacity(1);
          }
          .plan-name span, .plan-price span{
            color: $white!important;
          }
        }
      }
      .plan-signup a{
        padding-right: 20px;
        color: $theme-color;
        i{
          @include opacity(1);
        }
      }
    }
  }
  &.style-3{
    border: 1px solid $border-color;
    margin-bottom: 30px;
    .plan-price{
      background: $theme-color;
      color: $white;
      font-family: $font-second;
      text-align: center;
      position: relative;
      padding: 0 0 5px;
      &:after{
        content: '';
        border: 10px solid transparent;
        border-bottom-color: $white;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -10px;
        z-index: 1;
      }
      .dollar{
        font-size: 30px;
        position: relative;
        top: -20px;
      }
      .value{
        font-size: 60px;
      }
      .interval{
        font-size: 13px;
      }
    }
    .plan-name{
      font-size: 18px;
      color: $theme-color;
      text-transform: uppercase;
      font-family: $font-second;
      text-align: center;
      padding: 10px 15px;
      border-bottom: 1px solid $border-color;
    }
    .plan-list{
      min-height: 240px;
      padding: 30px 20px 20px;
      text-align: center;
      ul{
        > li{
          list-style-type: none;
          position: relative;
          margin-bottom: 12px;
          color: #303030;
        }
      }
    }
    .plan-signup{ 
      padding: 0 20px 20px;
      a{
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        width: 100%;
        @include transition(all 0.35s);
        text-align: center;
        &:hover, &:active, &:focus{
          background: $theme-color;
          color: $white!important;
        }
      }
    }
    &.highlight-plan, &:hover, &:active, &:focus{
      .plan-signup a{
        background: $theme-color;
        color: $white!important;
      }
    }
  }
}

.pricing-image{
  position: relative;
  margin-top: 70px;
  background: $white;
  padding: 10px;
  .plan-price{
    @include size(130px, 130px);
    @include border-radius(50%);
    background: $white;
    font-family: $font-second;
    color: $theme-color;
    text-align: center;
    position: absolute;
    top: -70px;
    left: 50%;
    margin-left: -65px;
    z-index: 1;
    letter-spacing: -1px;
    padding-top: 5px;
    @include transition(all 0.2s);
    .dollar{
      position: relative;
      top: -12px;
      font-size: 16px;
    }
    .value{
      font-size: 30px;
    }
    .interval{
      font-size: 13px;
    }
  }
  .image-inner{
    position: relative;
    &:after{
      @include transition(all 0.3s);
      content: '';
      position: absolute;
      z-index: 1;
      top: -10px;
      bottom: 15px;
      left: -10px;
      right: -10px;
      border: 10px solid $theme-color;
      border-bottom: 0;
      @include opacity(0);
    }
    .plan-name{
      font-size: 24px;
      padding: 0 10px 2px;
      text-align: center;
      background: $theme-color;
      font-family: $font-second;
      position: absolute;
      left: -10px;
      right: -10px;
      bottom: 10px;
      .title{
        color: $white;
      }
    }
  }
  .plan-list{
    padding: 30px 20px;
    ul{
      padding: 0;
      li{
        list-style: none;
        position: relative;
        padding: 8px 0 8px 25px;
        &:after{
          content: '\f00c';
          font-family: "FontAwesome";
          position: absolute;
          top: 10px;
          left: 0;
          z-index: 1;
          color: $theme-color;
        }
      }
    }
  }
  .content-inner{
    position: relative;
    z-index: 9;
  }
  .plan-signup{
    a{
      @include transition(all 0.3s);
      width: 100%;
      text-align: center;
    }
  }
  &:hover, &.highlight-plan{
    .plan-price{
      background: $theme-color;
      color: $white;
    }
    .image-inner{
      &:after{
        @include opacity(1);
      }
    }
    .plan-signup a{
      background: $theme-color;
      color: $white;
    }
  }
}

.panel{
  border: none!important;
  margin-top: 0!important;
  -webkit-box-shadow: none!important;
  -ms-box-shadow: none!important;
  -o-box-shadow: none!important;
  box-shadow: none!important;
  background: $white;
  padding: 15px;
  .panel-heading{
    background: none!important;
    padding: 0!important;
    .panel-title{
      font-size: 14px;
      padding-right: 20px;
      > a{
        display: block;
        letter-spacing: 0;
        color: $black; 
        position: relative;
        background: $white;
        line-height: 28px;
        font-weight: 700;
        &:after{
          content: "\f067";
          font-family: "FontAwesome";
          position: absolute;
          font-size: 15px;
          top: 0;
          right: -20px;
          z-index: 1;
          color: $theme-color;
          font-weight: 400;
        }
        &.collapsed{
          &:after{
            content: "\f068";
          }
        }
      }
    }
  }
  
  .panel-body{
    border: none!important;
    line-height: 28px;
    padding: 10px 30px 0;
  }
}

.dropcap {
  display: block;
  float: left;
  font-size: 40px;
  line-height: 34px;
  color: #444;
  margin: 6px 8px 0 0;
  &.border-dropcap {
    border: 2px solid #444;
    width: 46px;
    height: 46px;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    @include border-radius(2px);
    margin: 8px 12px 0 0;
  }
  &.bg-dropcap {
    background-color: #444;
    color: #fff;
    width: 48px;
    height: 48px;
    font-size: 28px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    @include border-radius(2px);
    margin: 8px 12px 0 0;
  }
  &.circle-dropcap {
    @include border-radius(50%);
    border: 2px solid #444;
    width: 46px;
    height: 46px;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    @include border-radius(2px);
    margin: 8px 12px 0 0;
    @include border-radius(50%);
  }
}

.rotate-text{
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  .primary-text{
    font-size: 40px;
    color: white;
    font-weight: 700;
  }
  .second-text{
    font-size: 16px;
    color: $white; 
  }
  .link{
    margin-top: 30px;
  }
}

.info-contact{
  > div{
    float: left;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    @media(max-width: $screen-md-max){
      margin-right: 50px;
    }
    @media(max-width: $screen-sm-max){
      margin-right: 30px;
    }
    &:last-child{
      margin-right: 0;
    }
    .icon{
      @include size(40px, 40px);
      @include border-radius(50%);
      float: left;
      margin-right: 10px;
      line-height: 40px;
      color: $white;
      background: $theme-color;
      text-align: center;
      margin-top: -7px;
    }
    &.phone{
      .icon{
        background: $theme-color-second;
      }
    }
    &.address{
      .icon{
        background: $theme-color-three;
      }
    }
  }
}