.testimonial-node-1{
  .testimonial-content{
    text-align: center;
    .info{
      margin: 5px 0;
      text-align: center;
      .info-content{
        display: inline-block;
        position: relative;
        &:after{
          content: '';
          @include size(100px, 100px);
          background: $theme-color;
          @include opacity(0.5);
          position: absolute;
          top: 20px;
          left: 50%;
          @include translateX(-50%);
          z-index: -1;
        }
      }
      .avatar{
        margin-bottom: 30px;
        img{
          @include border-radius(50%);
          width: 60px;
          height: auto;
          border: 3px solid $white;
        }
      }
      .job{
        font-style: italic;
      }
      .title{
        color: $theme-color;
        font-size: 18px;
      }
    }
    .quote{
      margin: 0 auto;
      max-width: 720px;
      padding: 0 30px;
      position: relative;
      margin-top: 35px;
      font-size: 16px;
    }
  }
  &.v2{
    .testimonial-content{
      .info{
        .info-content{
          &:after{
            display: none;
          }
        }
        .avatar{
          margin-bottom: 10px;
        }
      }
    }
    .quote{
      margin-top: 15px;
    }
  }
}

.text-light{
  .testimonial-node-v1{
    .title, .job{
      color: $white!important;
    }
  }
}

.testimonial-node-v2{
  padding: 0 0 20px;
  text-align: left;
  .content{
    .quote{
      font-size: 13px;
      line-height: 30px;
      position: relative;
      padding: 20px 30px;
      border: 1px solid $border-color;
      border-bottom: 0;
    }
    .info{
      padding: 5px 30px;
      color: $white;
      background: $theme-color;
      position: relative;
      &:after{
        content: '';
        border: solid 16px transparent;
        border-right-color: $theme-color;
        bottom: -14px;
        left: 15px;
        position: absolute;
        z-index: 1;
        @include rotate(45deg);
      }
      .title{
        font-size: 14px;
        font-weight: 700;
        text-transform: none;
      }
      .job{
        font-size: 14px;
        font-style: italic;
      }
    }  
  }
}

.testimonial-node-v3{
  text-align: center;
  margin: 0 auto;
  padding: 30px 30px 20px;
  border: 1px solid $border-color;
  margin-top: 35px;
  .avatar{
    margin-top: -65px;
    position: relative;
    z-index: 9;
    img{
      background: $white;
      width: 70px!important;  
      height: auto;
      @include border-radius(50%);
      padding: 10px;
      border: 1px solid $border-color;  
    }  
  }
  .quote{
    font-size: 14px;
    line-height: 30px;
    position: relative;
    padding-top: 10px;
    color: #757575;
    text-align: center;
  }
  .info{
    margin-top: 12px;
    display: inline-block;
    text-align: left;
  }
  .left, .right{
    float: left;
    &.left{
      margin-right: 15px;
    }
  }
  .job{
    color: $theme-color;
    font-style: italic;
  }
  .content-inner{
    .title{
      margin-top: 10px;
      font-size: 16px;
      font-weight: 700;
      color: $black;  
    }
  }  
}

.testimonial-node-v4{
  position: relative;
  padding-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
  &:after{
    content: '';
    @include size(50px, 100%);
    background: $theme-color;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .right{
    padding-left: 90px;
    .info{
      padding-bottom: 20px;
      .title{
        font-weight: 700;
        text-transform: none;
        line-height: 20px;
        color: #303030;
        font-size: 18px;
        padding-top: 10px;
      }
      .job{
        color: $theme-color;
        font-size: 14px;
        font-style: italic;
        font-weight: 700;
      }
    }
    .quote{
      padding-left: 30px;
    }
  }
  .left{
    float: left;
    position: absolute;
    @include size(60px, 60px);
    bottom: 20px;
    left: 20px;
    z-index: 11;
    .avatar{
      img{
        border: 3px solid $white;
        @include size(60px, auto);
        @include border-radius(50%);
      }
    }
  }
}

.testimonial-node-v5{
  background: none;
  max-width: 620px;
  float: left;
  position: relative;
  margin-top: 0;

  .video{
    margin-bottom: 30px;
    .popup-video{
      display: inline-block;
      background: url('#{$base-theme-image-path}/icon-play-2.png') no-repeat left center $nocolor;
      height: 55px;
      padding-left: 75px;
      line-height: 55px;
      @include transition(all 0.35s);
      &:hover, &:focus, &:active{
        @include scale(0.9);
      }
    }
  }
  .quote{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: $black;
  }
  .title{
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
  }
  .job{
    font-size: 12px;
  }
}

.testimonial-node-v6{
  background: #F6F6F6;
  padding: 35px 30px;
  .quote{
    margin-bottom: 20px;
    color: #999999;
    text-indent: 30px;
    position: relative;
    &:after{
      font-family: "FontAwesome";
      content: "\f10d";
      left: -28px;
      top: -10px;
      position: absolute;
      z-index: 1;
      color: $theme-color;
      font-size: 14px;
      text-align: center;
      line-height: 40px;
    }
  }
  .info{
    position: relative;
    padding-left: 20px;
    &:after{
      content: "";
      @include size(3px, 20px);
      background: $theme-color;
      position: absolute;
      top: 4px;
      left: 0;
      z-index: 1;
    }
    .title{
      color: $black;
      font-weight: 700;
      font-size: 16px;
    }
  }
}



.view-testimonial-v2{
  position: relative;
  float: left;
  width: 100%;
  .owl-dots{
    text-align: left;
    position: relative;
    margin-top: 20px;
    float: left;
    width: 100%;
    .owl-dot{
      display: inline-block;
      padding: 0;
      margin: 5px;
      background: none;
      @include size(45px, 45px);
      @include border-radius(0);
      border: 2px solid $border-color;
      @include box-shadow(none);
      text-align: center;
      position: relative;
      z-index: 9;
      &.active{
        border-color: $theme-color;
      }
    }
  }
  .owl-nav{
    display: none;
  }
}

.testimonial-grid{
  .item-grid{
    margin-bottom: 45px;
    @include clearfix();
    .testimonials-quote{
      font-size: 16px;
      color: $black;
      padding: 30px;
      border: 1px solid $border-color;
      font-weight: 300;
      font-style: italic;
    }
    .testimonials-profile{
      display: inline-block;
      position: relative;
      margin-left: 30px;
      float: left;
      padding-top: 20px;
      &:after{
        content: "";
        position: absolute;
        @include size(50px, 2px);
        background: $theme-color;
        top: -1px;
        left: 0;
        z-index: 1;
      }
      .right{
        padding-left: 70px;
        .name{
          font-size: 16px;
          font-weight: 700;
          color: #000000;
          margin: 0;
          text-transform: uppercase;
        }
        .job{
          font-size: 12px;
          font-weight: 900;
          color: $theme-color;
          text-transform: uppercase;
        }
      }
      .left{
        display: inline-block;
        float: left;
        img{
          @include border-radius(50%);
          width: 50px;
          height: auto;
        }
      }
    }
  }
}