<header id="header" class="header-v2">

  {% if page.topbar %}
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-sm-12">
              <div class="topbar-content">{{ page.topbar }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% set class_sticky = '' %}
  {% if sticky_menu == 1 %}
    {% set class_sticky = 'gv-sticky-menu' %}
  {% endif %}

   <div class="header-main">
      <div class="header-content-layout">
        <div class="header-main-inner p-relative">
          <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12 logo-block">
              <div class="clearfix text-left branding col-md-4 h-logo">
                {% if page.branding %}
                  {{ page.branding }}
                {% endif %}
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12 cnt-content">
                <div class="cnt-detail">
                  <i class="icon fas fa-map-marker"></i>
                  <p>Προξένου Κορομηλά 23, Θεσσαλονίκη</p><p> Μουσείο Μακεδονικού Αγώνα</p>
                </div>
                <div class="cnt-detail">
                  <i class="icon fas fa-phone"></i>
                  <p><a href="tel:+2310229778" title="2310229778">2310229778</a></p>
                  <p><a href="mailto:info@imma.edu.gr" title="info@imma.edu.gr">info@imma.edu.gr</a></p>
                </div>
                <div class="cnt-detail">
                  <i class="icon fas fa-shopping-basket"></i>
                  <p><a href="#" title="{{ 'E-Shop'|t }}">{{ 'E-Shop'|t }}</a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="clearfix">
            <div class="header-inner {{ class_sticky }} clearfix">
              <div class="container">
                <div class="navbar navbar-default ow-navigation">
                  <div class="main-menu p-relative">
                    <div class="area-main-menu">
                      <div class="area-inner">
                          <div class="gva-offcanvas-mobile">
                            <div class="close-offcanvas hidden"><i class="fa fa-times"></i></div>
                            {% if page.main_menu %}
                              {{ page.main_menu }}
                            {% endif %}
                            {% if page.offcanvas %}
                              <div class="after-offcanvas hidden">
                                {{ page.offcanvas }}
                              </div>
                           {% endif %}

                          </div>

                          <div id="menu-bar" class="menu-bar hidden-lg hidden-md">
                            <span class="one"></span>
                            <span class="two"></span>
                            <span class="three"></span>
                          </div>

                        {% if page.search %}
                          <div class="gva-search-region search-region">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <div class="search-content">
                              {{ page.search }}
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

</header>
