<header class="container-fluid no-padding header-section">

        <!-- SidePanel -->
        <div id="slidepanel">
                {% if page.topbar %}
                <!-- Top Header -->
                <div class="container-fluid no-padding top-header">
                        <!-- Container -->
                        <div class="container">
                                <div class="row">
                                    {{ page.topbar }}
                                        {#<div class="col-md-8 col-sm-8 hour-block">
                                                <p><span>Ώρες λειτουργίας:</span>  Δευτέρα-Τρίτη-Πέμπτη-Παρασκευή: 9:00-14:00 | Τετάρτη: 9:00-20:00 | Σάββατο: 10:00-14:00</p>
                                        </div>
                                        <div class="col-md-4 col-sm-4 social-block">
                                                <ul>
                                                        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a href="#" title="Facebook"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a href="#" title="Facebook"><i class="fa fa-linkedin"></i></a></li>
                                                        <li><a href="#" title="Facebook"><i class="fa fa-tumblr"></i></a></li>
                                                        <li><a href="#" title="Facebook"><i class="fa fa-vimeo"></i></a></li>
                                                        <li><a href="#" title="Facebook"><i class="fa fa-pinterest-p"></i></a></li>
                                                </ul>
                                        </div>#}
                                </div>
                        </div><!-- Container /- -->
                </div><!-- Top Header /- -->
                {% endif %}
                {% set class_sticky = '' %}
                {% if sticky_menu == 1 %}
                  {% set class_sticky = 'gv-sticky-menu' %}
                {% endif %}  
                <!-- Logo Block -->
                <div class="container">
                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding logo-block">
                            {% if page.branding %}
                                {{ page.branding }}
                            {% endif %}
                                {#<div class="col-md-4 h-logo">
                                        <a href="index.html" title="Logo"><img src="images/imma_logo.png" alt="Logo" /></a>
                                </div>
                                <div class="col-md-8 col-sm-12 col-xs-12 cnt-content">
                                        <div class="cnt-detail">
                                                <i class="icon icon-Pointer"></i>
                                                <p>Προξένου Κορομηλά 23, Θεσσαλονίκη</p><p> Μουσείο Μακεδονικού Αγώνα</p>
                                        </div>
                                        <div class="cnt-detail">
                                                <i class="icon icon-Phone"></i>
                                                <p><a href="tel:+2310229778" title="2310229778">2310229778</a></p>
                                                <p><a href="mailto:info@imma.edu.gr" title="info@imma.edu.gr">info@imma.edu.gr</a></p>
                                        </div>
                                </div>#}
                        </div>
                </div><!-- Logo Block /- -->
                <div class="clearfix">
            <div class="header-inner {{ class_sticky }} clearfix">
              <div class="container">
                <div class="row">
                  <div class="main-menu p-relative">
                    <div class="area-main-menu">
                      <div class="area-inner">
                          <div class="gva-offcanvas-mobile">
                            <div class="close-offcanvas hidden"><i class="fa fa-times"></i></div>
                            {% if page.main_menu %}
                              {{ page.main_menu }}
                            {% endif %}  
                            {% if page.offcanvas %}
                              <div class="after-offcanvas hidden">
                                {{ page.offcanvas }}
                              </div>
                           {% endif %}
                           
                          </div>
                          
                          <div id="menu-bar" class="menu-bar hidden-lg hidden-md">
                            <span class="one"></span>
                            <span class="two"></span>
                            <span class="three"></span>
                          </div>
                        
                        {% if page.search %}
                          <div class="gva-search-region search-region">
                            <span class="icon"><i class="fa fa-search"></i></span>
                            <div class="search-content">  
                              {{ page.search }}
                            </div>  
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div> 
                </div>
              </div>    
            </div> 
          </div>
        </div><!-- SidePanel /- -->

        
</header><!-- Header Section /- -->
          